<div class="row">
    <div class="col-sm-10 col-10">
      <div class="profile-header">
        <h3>Kinetic Seas Inc - (OTC: ECGR)</h3>
        <div class="profile-header-content">
          <div class="profile-header-tiles">
            <div class="row">
              <div class="col-sm-12 col-12">
                <div class="profile-tile">
                    <h1>Kinetic Voice Intelligence</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-avatar-tile">
            <img src="assets/images/user.png" class="img-fluid" alt="Bootstrap Gallery">
          </div>
        </div>
      </div>
    </div>
  </div>
<div style="margin-top:30px; margin-left: -100px;" class="login-container">
    <form action="index.html">
        <div class="login-box">
            <div class="login-form">
                <a href="index.html" class="login-logo">
                    <img src="assets/images/logo.svg" alt="Vico Admin" />
                </a>
                <div class="login-welcome">
                    Welcome back, <br />Please login to your Kinetic Voice account.
                </div>
                <div class="mb-3">
                    <!-- <div class="alert-box success">Login successful!</div> -->
                    <!-- <div class="alert-box failure">Invalid Phone Number - Please Re-enter</div> -->
                    <label class="form-label" style="color: black">Mobile Phone</label>
                    <input style="background-color:white" name="phone" [(ngModel)]="formData.phone" type="tel"  (ngModelChange)="validatePhoneNumber($event)" pattern="[0-9]*" class="form-control"> 
                </div>
                <div class="login-form-actions">
                    <button (click)="postForm();" (submit)="postForm();" type="submit" class="btn"> <span class="icon"> <i class="bi bi-arrow-right-circle"></i> </span>
                        Login</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row" style="margin-top:40px;">
    <div class="col-10">
        <div class="card border-primary">
            <div class="card-header">
              <div class="card-title text-primary">Welcome to Kinetic Voice</div>
            </div>
            <div class="card-body">
              <p class="mb-2">Welcome to Kinetic Voice Intelligence! Our cutting-edge system empowers your voice interactions by leveraging Artificial Intelligence to seamlessly summarize and analyze calls. Experience enhanced insights and efficiency in managing your voice communications like never before.
                This is version 0.1 Beta for internal testing.  For more information or to get a new KVI account email contact support&#64;kineticseas.com. 
                </p>
            </div>
          </div>
    </div>
</div>
