<div class="card-border">
    <div class="card-header">
      <div class="card-title">Upload NOBO List (XLSX)</div>
    </div>
    <div class="card-body">
        <form (submit)="onSubmit()">
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Security ID</label>
          <div class="col-sm-2">
            <input [(ngModel)]="securityId" id="security_id" name="security_id" type="text" class="form-control">
          </div>
          <label class="col-sm-3 col-form-label" style="text-align:right">Date (YYYY-MM-DD)</label>
          <div class="col-sm-2">
            <input [(ngModel)]="recordDate" id="security_id" name="record_date" type="text" class="form-control">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-8">
            <input type="file" (change)="onFileSelected($event)" />
          </div>
          <div class="col-sm-1">
            <button type="submit" class="btn btn-success">Upload</button>
          </div>
        </div>

      </form>
    </div>
  </div>
